* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.wrapper {
    width: 300px;
    background-color: white;
    padding: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.wrapper .input-data {
    position: relative;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 14px;
    color: rgb(80, 80, 80);
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    border-bottom: 2px solid silver;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 20px;
    left: 0;
    color: gray;
    pointer-events: none;
    transition: all 0.3s ease;
}

.wrapper .input-data .underline {
    position: absolute;
    bottom: 0;
    height: 1pt;
    width: 100%;
}

.wrapper .input-data .underline::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(44, 44, 44, 0.643);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline::before,
.input-data input:valid ~ .underline::before {
    transform: scaleX(1);
}